# Compilados y Build
target/
*.class
*.jar
*.war
*.nar
*.ear

# Logs y Temporales
*.log
hs_err_pid*
replay_pid*
.mtj.tmp/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code y otros IDEs
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# Archivos de empaquetado
*.zip
*.tar.gz
*.rar